# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
=======
*~
._*
Thumbs.db

# npm, bower, and other dependencies
node_modules
bower_components
gulp-config.json
typings

# Locally-generated documentation
_docs/_data/package.json
docs-local/*

# Locally-generated example files
_examples/_data/config.json
examples/*

# debug files
npm-debug.log

