.docs {
  pre,
  figure.highlight {
    @include border-radius(.25rem);
    background: $gray-lighter;
    padding: 1.5rem;

    strike {
      background: #ffecec;
      color: #bd4147;
    }

    .highlight-code {
      background: #eaffea;
      padding: 0;
    }

  }
}
