//
// Callouts
//

.afd-callout {
  background-color: $gray-lightest;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-right: 1rem;
  position: relative;

  @include media-breakpoint-up(md) {
    font-size: .9rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
    padding-top: 2rem;
    padding-right: 2rem;
  }

  &::before {
    border-right: $border-width-thickest solid $white;
    bottom: 0;
    color: $white;
    font: normal normal normal 14px FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 0;
    padding: 1rem .5rem .5rem;
    position: absolute;
    text-align: center;
    text-rendering: auto;
    top: 0;

    @include media-breakpoint-up(md) {
      font-size: 2rem;
      padding: 2rem 1rem 1rem;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .h5;
  }

  p:last-child {
    margin-bottom: 0;
  }

  + .afd-callout {
    margin-top: -.25rem;
  }
}

// Variations
.afd-callout-info {
  &::before {
    background-color: $brand-info;
    content: "\f05a";
  }
}

.afd-callout-warning {
  &::before {
    background-color: $brand-warning;
    content: "\f071";
  }
}

.afd-callout-danger {
  &::before {
    background-color: $brand-danger;
    content: "\f05e";
  }
}
