// clipboard.js
//
// JS-based `Copy` buttons for code snippets.

.afd-clipboard {
  display: none;
  float: right;
  position: relative;

  @include media-breakpoint-up(md) {
    display: block;
  }

  + .highlight {
    margin-top: 0;
  }
}

.btn-clipboard {
  background-color: transparent;
  color: $gray-darkest;
  cursor: pointer;
  display: block;
  font-size: 75%;
  padding: .25rem .5rem;
  position: absolute;
  right: .5rem;
  top: .5rem;
  z-index: 10;

  &:hover {
    background-color: $brand-complementary;
    color: $white;
  }
}
