.afd-content {
  > h2 {
    font-size: 1.5rem;
    margin-top: 3rem;

    &:first-child {
      margin-top: 0;
    }
  }

  > h3 {
    font-size: 1.25rem;
    margin-top: 2.5rem;
  }

  > h4 {
    font-size: 1rem;
    margin-top: 2rem;
  }

  > h5 {
    font-size: .75rem;
    margin-top: 1.5rem;
  }

  > hr {
    @include media-breakpoint-up(md) {
      margin-bottom: 3rem;
      margin-top: 3rem;
    }
  }

  > pre,
  .highlight {
    background: $gray-lightest;
    padding: 1.5rem;

    code {
      background: transparent;
    }

    strike {
      background: #ffecec;
      color: #bd4147;
    }

    .highlight-code {
      background: #d1f8d1;
      padding: 0;
    }
  }

  > table {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer;
    overflow-y: auto;

    // Cells
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding: $table-cell-padding;
          vertical-align: top;
          border: 1px solid $table-border-color;

          > p:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    // Prevent breaking of code
    td:first-child > code {
      white-space: nowrap;
    }
  }

  > ul li,
  > ol li {
    margin-bottom: .25rem;
  }

  code {
    background: rgba(0, 0, 0, .05);
  }
}


//
// Markdown generated ToC
//

.table-of-contents {
  margin-top: 1rem;

  ul {
    @extend .nav;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;

    ul {
      font-size: .9rem;
      padding-top: .25rem;
    }

    li {
      @extend .nav-item;
      border-left: 3px solid $gray-lighter;

      &:not(:last-of-type) {
        padding-bottom: .25rem;
      }
    }

    a {
      @extend .nav-link;
      display: inline-block;
      padding-bottom: .25em;
      padding-top: .25em;
    }
  }

  > ul {
    padding-left: 1rem;

    > li {
      border-left: 0 solid;

      &:not(:last-of-type) {
        padding-bottom: .5rem;
      }

      // Hide the first child li because it's always going to be "Contents".
      &:first-child {
        display: none;
      }
    }
  }
}
