//
// Examples
//

.afd-examples {
  @include media-breakpoint-down(xs) {
    margin-left: -.75rem;
    margin-right: -.75rem;
  }

  h4 {
    margin-bottom: .25rem;
  }

  p {
    margin-bottom: 1.25rem;
  }

  .img-thumbnail {
    margin-bottom: .75rem;
  }

  > [class^="col-"] {
    @include media-breakpoint-down(xs) {
      padding-left: .75rem;
      padding-right: .75rem;
    }
  }
}
