//
// Side navigation
//

.afd-sidenav {
  @include media-breakpoint-up(md) {
    font-size: .9rem;
  }
}

.afd-toc-item {
  + .afd-toc-item {
    margin-top: $spacer-y;
  }
}

.afd-toc-link {
  @extend .btn;
  @extend .btn-sm;
  @include button-variant($black, darken($body-bg, 3%), darken($body-bg, 3%));
  @include button-variant-overrides($black, darken($body-bg, 3%), darken($body-bg, 3%));
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  text-align: left;

  &.active:not(.collapsed),
  &[aria-expanded="true"] {
    .fa-chevron-down {
      color: $brand-complementary;
      transform: rotate(-180deg);
    }
  }

  .fa-chevron-down {
    transition: .15s ease-in-out;
  }
}
