//
// Builds path to font using font path variable
//
@function build-font-path($name, $font-path, $ext, $suffix: '') {
  @return $athena-font-path + '/' + $font-path + '/' + $name + '.' + $ext + $suffix;
}


@mixin build-font-face($font-family, $font-path, $name, $style, $weight) {
  font-family: $font-family;
  font-style: $style;
  font-weight: $weight;
  // sass-lint:disable indentation
  src: url(build-font-path($name, $font-path, 'woff2')) format('woff2'),
       url(build-font-path($name, $font-path, 'woff')) format('woff');
  // sass-lint:enable indentation
}
