//
// Generate .navbar-block color variant overrides
//
@mixin navbar-block-variant($color, $bg-color, $toggler-bg) {
  .navbar-brand,
  .navbar-toggler {
    color: $color;

    @include hover-focus {
      color: $color;
    }
  }

  .navbar-nav {
    .nav-link {
      @include button-variant($color, $bg-color, $color);
      border-radius: 0; // always unset border-radius
    }

    .show > .nav-link,
    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      background-color: darken($bg-color, 10%);
      border-color: darken($bg-color, 10%);
      color: $color;
    }
  }

  .navbar-toggler {
    border-color: $color;
  }

  .navbar-toggler-icon {
    background-image: $toggler-bg;
  }

  .navbar-text {
    color: $color;
  }
}
