.media-background-container {
  overflow: hidden; // required to fix a Chrome-specific bug with videos: https://bugs.chromium.org/p/chromium/issues/detail?id=400829
  position: relative;
  z-index: 0;
}

.media-background-container > picture,
.media-background {
  height: calc(100% + 1px); // add 1px to prevent subpixel gaps between media background and edges of parent elem
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% + 1px); // add 1px to prevent subpixel gaps between media background and edges of parent elem
  z-index: -1;
}

.object-fit-contain {
  object-fit: contain;
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-fill {
  object-fit: fill;
}

.object-fit-none {
  object-fit: none;
}

.object-fit-scale-down {
  object-fit: scale-down;
}
