.hover-show {
  opacity: 0;

  @include hover-focus() {
    opacity: 1;
  }
}

.hover-hide {
  opacity: 1;

  @include hover-focus() {
    opacity: 0;
  }
}

.hover-scale-up {
  @include hover-focus() {
    transform: scale(#{$zoom});
  }
}

.hover-scale-down {
  transform: scale(#{$zoom});

  @include hover-focus() {
    transform: scale(1);
  }
}

.scale-fade {
  transition: $transition-scale;
}

@include link-selector('.hover-text-white') {
  @include hover-focus() {
    // scss-lint:disable ImportantRule
    color: $white !important;
    // scss-lint:enable ImportantRule
  }
}

@include link-selector('.hover-text-inverse') {
  @include hover-focus() {
    // scss-lint:disable ImportantRule
    color: $brand-inverse !important;
    // scss-lint:enable ImportantRule
  }
}

@include link-selector('.hover-text-black') {
  @include hover-focus() {
    // scss-lint:disable ImportantRule
    color: $black !important;
    // scss-lint:enable ImportantRule
  }
}

@include link-selector('.hover-text-secondary') {
  @include hover-focus() {
    // scss-lint:disable ImportantRule
    color: $brand-secondary-color !important;
    // scss-lint:enable ImportantRule
  }
}
