//
// Font family classes
//

.font-sans-serif {
  font-family: $font-family-sans-serif;
}

.font-serif {
  font-family: $font-family-serif;
}

.font-slab-serif {
  font-family: $font-family-slab-serif;
}

.font-condensed {
  font-family: $font-family-condensed;
  // scss-lint:disable ImportantRule
  font-weight: normal !important; // We only support one weight of Knockout--forcing !important here is necessary.
  // scss-lint:enable ImportantRule
}


//
// Extended text-transform classes
//

.text-transform-none {
  // scss-lint:disable ImportantRule
  text-transform: none !important;
  // scss-lint:enable ImportantRule
}


//
// Extended font weight classes
//

.font-weight-light {
  font-weight: 300;
}

.font-weight-black {
  font-weight: 800;
}


// Extended text color classes
//
// Loops through all colors defined in $brand-colors and creates a new
// text-emphasis variant (existing variant classes will be overridden).
//
// If a color has a text-color-aw value assigned to it, a new color variant
// is created for it as well.
//

@each $color-name, $vals in $brand-colors {
  $color: map-get($vals, 'color');
  $text-color-aw: map-get($vals, 'text-color-aw');

  @include text-emphasis-variant('.text-#{$color-name}', $color);

  @if $text-color-aw {
    @include text-emphasis-variant('.text-#{$color-name}-aw', $text-color-aw);
  }
}


//
// Letter spacing utility classes
//

@include letter-spacing-variants();
