//
// Font family classes
//

.font-sans-serif {
  font-family: $font-family-sans-serif;
}

.font-serif {
  font-family: $font-family-serif;
}

.font-slab-serif {
  font-family: $font-family-slab-serif;
}

.font-condensed {
  font-family: $font-family-condensed;
  // sass-lint:disable no-important
  font-weight: normal !important; // We only support one weight of Knockout--forcing !important here is necessary.
  // sass-lint:enable no-important
}


//
// Font size classes
//

.font-size-base {
  // sass-lint:disable-block no-important
  font-size: $font-size-base !important;

  @include media-breakpoint-up(md) {
    font-size: $font-size-base-md !important;
  }
}

.font-size-sm {
  // sass-lint:disable-block no-important
  font-size: $font-size-sm-xs !important;

  @include media-breakpoint-up(md) {
    font-size: $font-size-sm !important;
  }
}

.font-size-lg {
  // sass-lint:disable-block no-important
  font-size: $font-size-lg-xs !important;

  @include media-breakpoint-up(md) {
    font-size: $font-size-lg !important;
  }
}


//
// Extended text-transform classes
//

.text-transform-none {
  // sass-lint:disable no-important
  text-transform: none !important;
  // sass-lint:enable no-important
}


//
// text-decoration reset class
//

.text-decoration-none {
  // sass-lint:disable no-important
  text-decoration: none !important;
  // sass-lint:enable no-important
}


//
// Extended font weight classes
//

.font-weight-light {
  font-weight: 300;
}

.font-weight-black {
  font-weight: 800;
}


// Extended text color classes
//
// Loops through all colors defined in $brand-colors and creates a new
// text-emphasis variant (existing variant classes will be overridden).
//
// If a color has a text-color-aw value assigned to it, a new color variant
// is created for it as well.
//

@each $color-name, $vals in $brand-colors {
  $color: map-get($vals, 'color');
  $text-color-aw: map-get($vals, 'text-color-aw');

  @include text-emphasis-variant('.text-#{$color-name}', $color);

  @if $text-color-aw {
    @include text-emphasis-variant('.text-#{$color-name}-aw', $text-color-aw);
  }
}


//
// Letter spacing utility classes
//

@include letter-spacing-variants();


//
// Line height utility classes
//

@include line-height-variants();
