.docs {
  main {
    hr {
      margin: 1.5rem 0;
    }
    h2 {
      margin-top: 2.5rem;

      &:first-child {
        margin-top: 1.5rem;
      }
    }
    h3 {
      margin-top: 2.25rem;
    }
  }

  pre {
    background: #fff6d1;
    border-radius: 5px;
    padding: 15px 15px;
  }
}