{% include header %}

<header class="header bg-inverse">
  <div class="container">
    <h1 class="display-4 text-center text-uppercase letter-spacing-1 mb-4">{{ title }}</h1>
    <p class="text-center mb-0"><span class="badge badge-primary h6">{{ subtitle }}</span></p>
  </div>
</header>

{% include main-onecol %}

{% include footer %}
