{% include header.html %}
{% include nav.html %}

<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="mb-4">Examples &amp; Tests</h1>
    <p class="lead">
      These documents were generated when you ran the <code>gulp examples</code> command. They're intended to be used for testing changes against your current framework CSS and JS.
    </p>
  </div>
</div>

<div class="container">
  <p>These example files are a good way to test against edge cases and quickly preview how components, utilities, and other classes behave.</p>
  <p>Use the navigation above to skip between testing pages.</p>
  {% if site.cloud_typography_key %}
  <p>Additionally, you can test the differences between premium HF&amp;J fonts by toggling the "Enable Premium Webfonts" checkbox in the top navbar.</p>
  {% endif %}
</div>

{% include footer.html %}
