<div class="card card-outline-inverse card-github">
  <div class="card-block">
    <h2 class="card-title h4">Want to contribute?</h2>
    <p class="card-text">If you're interested in contributing to the Athena Framework, please read our <a class="bg-inverse-link" href="{{ site.contributing_docs }}">contributing guidelines</a>, then submit a new issue or pull request.</p>
    <a href="https://github.com/{{ site.data.package.repository.url }}" class="btn btn-primary btn-sm" target="_blank">GitHub Page</a>
  </div>
</div>
