<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>
	  
	    Button group &middot; Athena Framework
	  
	</title>

  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/res/css/docs.min.css">
  <link rel="canonical" href="/components/button-group/">
</head>

<body class="docs">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="/">Athena Framework</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-text">Menu</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-nav">
      <nav class="navbar-nav ml-auto mb-2 mb-lg-0">
        <a class="nav-link active" href="/getting-started/introduction/">
          Documentation
        </a>
        <a class="nav-link " href="/about/">
          About
        </a>
        <a class="nav-link " href="/migration/">
          Migration
        </a>
      </nav>
    </div>
  </div>
</nav>

    <header class="header">
        <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="title-container">

  <h1 class="text-white font-condensed mb-4">Components</h1>
  <span class="subtitle text-white heading-underline" style="text-transform: none;">
    
      Over a dozen reusable components built to provide buttons, dropdowns, input groups, navigation, alerts, and much more.
    
  </span>

</div>

              </div>
              <div class="col-md-4">
                <div class="card github">
  <div class="card-block">
    <h2 class="card-title">Want to contribute?</h2>
    <p class="card-text">If you're interested in contributing to the Athena Framework, please read our <a class="bg-inverse-link" href="https://github.com/UCF/Athena-Framework#contributing">contributing guidelines</a>, then submit a new issue or pull request.</p>
    <a href="https://github.com/UCF/Athena-Framework" class="btn btn-primary btn-sm" target="_blank">GitHub Page</a>
  </div>
</div>

              </div>
            </div>
        </div>
    </header>
    <main>
        <article class="py-5 container">
            <div class="row">
                <div class="col-md-8 bd-content">
                    <h1>Button group</h1>
                    <p>Group a series of buttons together on a single line with the button group. Add on optional JavaScript radio and checkbox style behavior with <a href="/components/buttons/#button-plugin">our buttons plugin</a>.</p>

<h2 id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#contents" id="markdown-toc-contents">Contents</a></li>
  <li><a href="#basic-example" id="markdown-toc-basic-example">Basic example</a></li>
  <li><a href="#button-toolbar" id="markdown-toc-button-toolbar">Button toolbar</a></li>
  <li><a href="#sizing" id="markdown-toc-sizing">Sizing</a></li>
  <li><a href="#nesting" id="markdown-toc-nesting">Nesting</a></li>
  <li><a href="#vertical-variation" id="markdown-toc-vertical-variation">Vertical variation</a></li>
  <li><a href="#tooltips-and-popovers" id="markdown-toc-tooltips-and-popovers">Tooltips and popovers</a></li>
</ul>

<div class="bd-callout bd-callout-warning">
<h2 id="ensure-correct-role-and-provide-a-label">Ensure correct <code class="highlighter-rouge">role</code> and provide a label</h2>

<p>In order for assistive technologies (such as screen readers) to convey that a series of buttons is grouped, an appropriate <code class="highlighter-rouge">role</code> attribute needs to be provided. For button groups, this would be <code class="highlighter-rouge">role="group"</code>, while toolbars should have a <code class="highlighter-rouge">role="toolbar"</code>.</p>

<p>In addition, groups and toolbars should be given an explicit label, as most assistive technologies will otherwise not announce them, despite the presence of the correct role attribute. In the examples provided here, we use <code class="highlighter-rouge">aria-label</code>, but alternatives such as <code class="highlighter-rouge">aria-labelledby</code> can also be used.</p>
</div>

<h2 id="basic-example">Basic example</h2>

<p>Wrap a series of buttons with <code class="highlighter-rouge">.btn</code> in <code class="highlighter-rouge">.btn-group</code>.</p>

<div class="bd-example" data-example-id="">
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-default">Left</button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default">Right</button>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"btn-group"</span> <span class="na">role=</span><span class="s">"group"</span> <span class="na">aria-label=</span><span class="s">"Basic example"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>Left<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>Middle<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>Right<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h2 id="button-toolbar">Button toolbar</h2>

<p>Combine sets of button groups into button toolbars for more complex components. Use utility classes as needed to space out groups, buttons, and more.</p>

<div class="bd-example" data-example-id="">
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-default">1</button>
    <button type="button" class="btn btn-default">2</button>
    <button type="button" class="btn btn-default">3</button>
    <button type="button" class="btn btn-default">4</button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <button type="button" class="btn btn-default">5</button>
    <button type="button" class="btn btn-default">6</button>
    <button type="button" class="btn btn-default">7</button>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <button type="button" class="btn btn-default">8</button>
  </div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"btn-toolbar"</span> <span class="na">role=</span><span class="s">"toolbar"</span> <span class="na">aria-label=</span><span class="s">"Toolbar with button groups"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"btn-group mr-2"</span> <span class="na">role=</span><span class="s">"group"</span> <span class="na">aria-label=</span><span class="s">"First group"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>1<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>2<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>3<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>4<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"btn-group mr-2"</span> <span class="na">role=</span><span class="s">"group"</span> <span class="na">aria-label=</span><span class="s">"Second group"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>5<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>6<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>7<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"btn-group"</span> <span class="na">role=</span><span class="s">"group"</span> <span class="na">aria-label=</span><span class="s">"Third group"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>8<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<p>Feel free to mix input groups with button groups in your toolbars. Similar to the example above, you’ll likely need some utilities though to space things properly.</p>

<div class="bd-example" data-example-id="">
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-default">1</button>
    <button type="button" class="btn btn-default">2</button>
    <button type="button" class="btn btn-default">3</button>
    <button type="button" class="btn btn-default">4</button>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="btnGroupAddon">@</span>
    <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon" />
  </div>
</div>

<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group" role="group" aria-label="First group">
    <button type="button" class="btn btn-default">1</button>
    <button type="button" class="btn btn-default">2</button>
    <button type="button" class="btn btn-default">3</button>
    <button type="button" class="btn btn-default">4</button>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="btnGroupAddon2">@</span>
    <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon2" />
  </div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"btn-toolbar mb-3"</span> <span class="na">role=</span><span class="s">"toolbar"</span> <span class="na">aria-label=</span><span class="s">"Toolbar with button groups"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"btn-group mr-2"</span> <span class="na">role=</span><span class="s">"group"</span> <span class="na">aria-label=</span><span class="s">"First group"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>1<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>2<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>3<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>4<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"input-group-addon"</span> <span class="na">id=</span><span class="s">"btnGroupAddon"</span><span class="nt">&gt;</span>@<span class="nt">&lt;/span&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">placeholder=</span><span class="s">"Input group example"</span> <span class="na">aria-label=</span><span class="s">"Input group example"</span> <span class="na">aria-describedby=</span><span class="s">"btnGroupAddon"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"btn-toolbar justify-content-between"</span> <span class="na">role=</span><span class="s">"toolbar"</span> <span class="na">aria-label=</span><span class="s">"Toolbar with button groups"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"btn-group"</span> <span class="na">role=</span><span class="s">"group"</span> <span class="na">aria-label=</span><span class="s">"First group"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>1<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>2<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>3<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>4<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"input-group-addon"</span> <span class="na">id=</span><span class="s">"btnGroupAddon2"</span><span class="nt">&gt;</span>@<span class="nt">&lt;/span&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">placeholder=</span><span class="s">"Input group example"</span> <span class="na">aria-label=</span><span class="s">"Input group example"</span> <span class="na">aria-describedby=</span><span class="s">"btnGroupAddon2"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h2 id="sizing">Sizing</h2>

<p>Instead of applying button sizing classes to every button in a group, just add <code class="highlighter-rouge">.btn-group-*</code> to each <code class="highlighter-rouge">.btn-group</code>, including each one when nesting multiple groups.</p>

<div class="bd-example">
  <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
    <button type="button" class="btn btn-default">Left</button>
    <button type="button" class="btn btn-default">Middle</button>
    <button type="button" class="btn btn-default">Right</button>
  </div>
  <br />
  <div class="btn-group" role="group" aria-label="Default button group">
    <button type="button" class="btn btn-default">Left</button>
    <button type="button" class="btn btn-default">Middle</button>
    <button type="button" class="btn btn-default">Right</button>
  </div>
  <br />
  <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
    <button type="button" class="btn btn-default">Left</button>
    <button type="button" class="btn btn-default">Middle</button>
    <button type="button" class="btn btn-default">Right</button>
  </div>
</div>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"btn-group btn-group-lg"</span> <span class="na">role=</span><span class="s">"group"</span> <span class="na">aria-label=</span><span class="s">"..."</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"btn-group"</span> <span class="na">role=</span><span class="s">"group"</span> <span class="na">aria-label=</span><span class="s">"..."</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"btn-group btn-group-sm"</span> <span class="na">role=</span><span class="s">"group"</span> <span class="na">aria-label=</span><span class="s">"..."</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span></code></pre></figure>

<h2 id="nesting">Nesting</h2>

<p>Place a <code class="highlighter-rouge">.btn-group</code> within another <code class="highlighter-rouge">.btn-group</code> when you want dropdown menus mixed with a series of buttons.</p>

<div class="bd-example" data-example-id="">
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-default">1</button>
  <button type="button" class="btn btn-default">2</button>

  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#">Dropdown link</a>
      <a class="dropdown-item" href="#">Dropdown link</a>
    </div>
  </div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"btn-group"</span> <span class="na">role=</span><span class="s">"group"</span> <span class="na">aria-label=</span><span class="s">"Button group with nested dropdown"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>1<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default"</span><span class="nt">&gt;</span>2<span class="nt">&lt;/button&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"btn-group"</span> <span class="na">role=</span><span class="s">"group"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">id=</span><span class="s">"btnGroupDrop1"</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-default dropdown-toggle"</span> <span class="na">data-toggle=</span><span class="s">"dropdown"</span> <span class="na">aria-haspopup=</span><span class="s">"true"</span> <span class="na">aria-expanded=</span><span class="s">"false"</span><span class="nt">&gt;</span>
      Dropdown
    <span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span> <span class="na">aria-labelledby=</span><span class="s">"btnGroupDrop1"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Dropdown link<span class="nt">&lt;/a&gt;</span>
      <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Dropdown link<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h2 id="vertical-variation">Vertical variation</h2>

<p>Make a set of buttons appear vertically stacked rather than horizontally. <strong>Split button dropdowns are not supported here.</strong></p>

<div class="bd-example">
  <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
    <button type="button" class="btn btn-default">Button</button>
    <button type="button" class="btn btn-default">Button</button>
    <button type="button" class="btn btn-default">Button</button>
    <button type="button" class="btn btn-default">Button</button>
    <button type="button" class="btn btn-default">Button</button>
    <button type="button" class="btn btn-default">Button</button>
  </div>
</div>

<div class="bd-example">
  <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
    <button type="button" class="btn btn-default">Button</button>
    <button type="button" class="btn btn-default">Button</button>
    <div class="btn-group" role="group">
      <button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
      </div>
    </div>
    <button type="button" class="btn btn-default">Button</button>
    <button type="button" class="btn btn-default">Button</button>
    <div class="btn-group" role="group">
      <button id="btnGroupVerticalDrop2" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop2">
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
      </div>
    </div>
    <div class="btn-group" role="group">
      <button id="btnGroupVerticalDrop3" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop3">
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
      </div>
    </div>
    <div class="btn-group" role="group">
      <button id="btnGroupVerticalDrop4" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop4">
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
      </div>
    </div>
  </div>
</div>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"btn-group-vertical"</span><span class="nt">&gt;</span>
  ...
<span class="nt">&lt;/div&gt;</span></code></pre></figure>

<h2 id="tooltips-and-popovers">Tooltips and popovers</h2>

<p>Due to the specific implementation (and some other components), a bit of special casing is required for tooltips and popovers within button groups. <strong>You’ll have to specify the option <code class="highlighter-rouge">container: 'body'</code></strong> to avoid unwanted side effects (such as the element growing wider and/or losing its rounded corners when the tooltip or popover is triggered).</p>

                </div>
                <div class="col-md-4 bd-sidebar">
                  <!-- <form class="bd-search d-none d-sm-block">
  <input type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off">
  <div class="dropdown-menu bd-search-results" id="search-results"></div>
</form>
 -->
<nav class="bd-links" id="docsNavbarContent">
  
  
  
  
  
  

  

  <div class="bd-toc-item ">
      <a class="bd-toc-link" href="/getting-started/introduction/">
        Getting started
      </a>

      <ul class="nav bd-sidenav">
        
          
          

          

          <li class="">
            <a href="/getting-started/introduction/">
              Introduction
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/getting-started/download/">
              Download
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/getting-started/install/">
              Install
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/getting-started/browsers-devices/">
              Browsers & devices
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/getting-started/javascript/">
              JavaScript
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/getting-started/options/">
              Options
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/getting-started/build-tools/">
              Build tools
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/getting-started/best-practices/">
              Best practices
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/getting-started/accessibility/">
              Accessibility
            </a>

            
          </li>
        
      </ul>
    </div>
  
  
  
  
  

  

  <div class="bd-toc-item ">
      <a class="bd-toc-link" href="/layout/overview/">
        Layout
      </a>

      <ul class="nav bd-sidenav">
        
          
          

          

          <li class="">
            <a href="/layout/overview/">
              Overview
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/layout/grid/">
              Grid
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/layout/media-object/">
              Media object
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/layout/utilities-for-layout/">
              Utilities for Layout
            </a>

            
          </li>
        
      </ul>
    </div>
  
  
  
  
  

  

  <div class="bd-toc-item ">
      <a class="bd-toc-link" href="/content/reboot/">
        Content
      </a>

      <ul class="nav bd-sidenav">
        
          
          

          

          <li class="">
            <a href="/content/reboot/">
              Reboot
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/content/typography/">
              Typography
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/content/code/">
              Code
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/content/images/">
              Images
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/content/tables/">
              Tables
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/content/figures/">
              Figures
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/content/dividers/">
              Dividers
            </a>

            
          </li>
        
      </ul>
    </div>
  
  
  
  
  

  

  <div class="bd-toc-item active">
      <a class="bd-toc-link" href="/components/alerts/">
        Components
      </a>

      <ul class="nav bd-sidenav">
        
          
          

          

          <li class="">
            <a href="/components/alerts/">
              Alerts
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/components/badge/">
              Badge
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/components/breadcrumb/">
              Breadcrumb
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/components/buttons/">
              Buttons
            </a>

            
          </li>
        
          
          

          

          <li class="active bd-sidenav-active">
            <a href="/components/button-group/">
              Button group
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/components/card/">
              Card
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/components/collapse/">
              Collapse
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/components/dropdowns/">
              Dropdowns
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/components/forms/">
              Forms
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/components/input-group/">
              Input group
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/components/jumbotron/">
              Jumbotron
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/components/list-group/">
              List group
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/components/modal/">
              Modal
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/components/navs/">
              Navs
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/components/navbar/">
              Navbar
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/components/pagination/">
              Pagination
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/components/popovers/">
              Popovers
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/components/progress/">
              Progress
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/components/scrollspy/">
              Scrollspy
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/components/tooltips/">
              Tooltips
            </a>

            
          </li>
        
      </ul>
    </div>
  
  
  
  
  

  

  <div class="bd-toc-item ">
      <a class="bd-toc-link" href="/utilities/borders/">
        Utilities
      </a>

      <ul class="nav bd-sidenav">
        
          
          

          

          <li class="">
            <a href="/utilities/borders/">
              Borders
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/utilities/clearfix/">
              Clearfix
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/utilities/close-icon/">
              Close icon
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/utilities/colors/">
              Colors
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/utilities/display-property/">
              Display property
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/utilities/flexbox/">
              Flexbox
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/utilities/image-replacement/">
              Image replacement
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/utilities/invisible-content/">
              Invisible content
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/utilities/media-backgrounds/">
              Media backgrounds
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/utilities/position/">
              Position
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/utilities/responsive-helpers/">
              Responsive helpers
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/utilities/screenreaders/">
              Screenreaders
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/utilities/sizing/">
              Sizing
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/utilities/spacing/">
              Spacing
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/utilities/typography/">
              Typography
            </a>

            
          </li>
        
          
          

          

          <li class="">
            <a href="/utilities/vertical-align/">
              Vertical align
            </a>

            
          </li>
        
      </ul>
    </div>
  
  
  
  
  

  

  <div class="bd-toc-item ">
      <a class="bd-toc-link" href="/about/">
        About
      </a>

      <ul class="nav bd-sidenav">
        
      </ul>
    </div>
  
  
  
  
  

  

  <div class="bd-toc-item ">
      <a class="bd-toc-link" href="/migration/">
        Migration
      </a>

      <ul class="nav bd-sidenav">
        
      </ul>
    </div>
  
</nav>

                </div>
            </div>
        </article>
    </main>
    <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col self-align-left">
                <p>
                  Powered by <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> and <a href="https://github.com/UCF/Athena-Framework">the Athena Framework</a>.
                  <br>
                  Documentation adapted from <a href="https://v4-alpha.getbootstrap.com/">Bootstrap</a>.
                </p>
                <p class="mb-0">
                  Code licensed <a href="https://github.com/UCF/Athena-Framework/blob/master/LICENSE">MIT</a>, docs <a href="https://github.com/UCF/Athena-Framework/blob/master/docs/LICENSE">CC BY 3.0</a>.
                </p>
            </div>
            <div class="col self-align-right">
              <p class="text-right">
                Current version: <strong>v1.0.0-beta</strong>.
              </p>
              <p class="text-right">
                <a href="https://github.com/UCF/" target="_blank"><span class="fa fa-github"></span> UCF GitHub</a>
              </p>
            </div>
        </div>
    </div>
</footer>

<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="/res/js/docs.min.js"></script>

</body>
</html>
