//
// Base styles
//

.alert-link {
  text-decoration: underline;
}


//
// Dismissible alerts
//

.alert-dismissible {
  // button.close selector required to match Bootstrap's selector
  // sass-lint:disable no-qualifying-elements
  .close,
  button.close {
    margin-left: 0;
    padding: $alert-padding-y $alert-padding-x $spacer-y $spacer-x;
  }
  // sass-lint:enable no-qualifying-elements
}


//
// Alternate styles
//

.alert-success {
  .alert-link {
    @include hover-focus {
      color: $brand-success-aw;
    }
  }
}

.alert-info {
  .alert-link {
    @include hover-focus {
      color: $brand-info-aw;
    }
  }
}

.alert-warning {
  .alert-link {
    @include hover-focus {
      color: $brand-warning-aw;
    }
  }
}

.alert-danger {
  .alert-link {
    @include hover-focus {
      color: $brand-danger-aw;
    }
  }
}
