.badge {
  border-radius: $badge-border-radius; // allow badge border radius to be customized outside of the global border-radius rules
  letter-spacing: $letter-spacing-base;
  text-transform: uppercase;
  vertical-align: baseline;

  // Use chained selector to successfully override custom border-radius on .badge class
  &.badge-pill {
    border-radius: $badge-pill-border-radius;
  }
}

.badge-primary {
  color: $black;
}

.badge-complementary {
  @include badge-variant($badge-complementary-bg);
}

.badge-inverse {
  @include badge-variant($badge-inverse-bg);
  color: $black;
}
