.close {
  // Allow font family to be set separately
  font-family: $close-font-family;
  line-height: .8;

  @include media-breakpoint-up(md) {
    font-size: $close-font-size-md;
  }
}


// button.close selector required to match Bootstrap's selector
// sass-lint:disable no-qualifying-elements
.close,
button.close {
  margin-left: $spacer-x; // give close button some breathing room
}
// sass-lint:enable no-qualifying-elements
