.close {
  // Always use system fonts here for consistency across font family overrides
  font-family: $font-family-glyphs;
  line-height: .8;

  @include media-breakpoint-up(md) {
    font-size: $close-font-size-md;
  }
}
