//
// Textual form controls
//

.form-check-input {
  height: 1em; // for browsers that can display them a little bit larger
  margin-right: $form-check-input-margin-x / 2; // Fix text-indent effect on label's first line
  width: 1em; // for browsers that can display them a little bit larger
}
