//
// Container that the modal scrolls within
//
.modal {
  // Fix ability to scroll within scrollable inner contents
  // on iOS Safari
  .modal-open & {
    -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes
  }
}

//
// Actual modal
//
.modal-content {
  @include border-radius($modal-border-radius); // Allow for configurable border-radius
  // Reset text color within the modal, in case a parent element adjusts the text color
  color: $body-color;
}

//
// Modal header
//
.modal-header {
  background-color: $modal-header-bg; // custom bg definition
}

//
// Modal footer
//
.modal-footer {
  background-color: $modal-footer-bg; // custom bg definition
  padding: $modal-footer-padding; // Add ability to modify footer padding separately from modal body
}
