// Modify default focus outlines globally.
:focus,
button:focus {
  outline: $focus-outline;
}

:hover,
button:hover,
:active,
button:active {
  outline: none;
}

// Add transitions on link hover.
a,
button {
  @if ($enable-transitions) {
    transition: $link-transition;
  }
}

// Force unitalicized text
cite {
  font-style: normal;
}

// Opinionated font family reset on elements affected by Bootstrap's resets.
button,
input,
optgroup,
select,
textarea {
  font-family: $font-family-base;
}
