// Modify the various font sizes per-breakpoint
body {
  font-size: $font-size-sm;

  @include media-breakpoint-up(md) {
    font-size: $font-size-md;
  }
}

h1,
.h1 {
  font-size: $font-size-h1-xs;

  @include media-breakpoint-up(md) {
    font-size: $font-size-h1;
  }
}

h2,
.h2 {
  font-size: $font-size-h2-xs;

  @include media-breakpoint-up(md) {
    font-size: $font-size-h2;
  }
}

h3,
.h3 {
  font-size: $font-size-h3-xs;

  @include media-breakpoint-up(md) {
    font-size: $font-size-h3;
  }
}

h4,
.h4 {
  font-size: $font-size-h4-xs;

  @include media-breakpoint-up(md) {
    font-size: $font-size-h4;
  }
}

h5,
.h5 {
  font-size: $font-size-h5-xs;

  @include media-breakpoint-up(md) {
    font-size: $font-size-h5;
  }
}

h6,
.h6 {
  font-size: $font-size-h6-xs;

  @include media-breakpoint-up(md) {
    font-size: $font-size-h6;
  }
}

.lead {
  font-size: $lead-font-size;
}

// Type display classes
.display-1 {
  font-size: $display1-size-xs;

  @include media-breakpoint-up(sm) {
    font-size: $display1-size-sm;
  }

  @include media-breakpoint-up(md) {
    font-size: $display1-size;
  }
}

.display-2 {
  font-size: $display2-size-xs;

  @include media-breakpoint-up(sm) {
    font-size: $display2-size-sm;
  }

  @include media-breakpoint-up(md) {
    font-size: $display2-size;
  }
}

.display-3 {
  font-size: $display3-size-xs;

  @include media-breakpoint-up(sm) {
    font-size: $display3-size-sm;
  }

  @include media-breakpoint-up(md) {
    font-size: $display3-size;
  }
}

.display-4 {
  font-size: $display4-size-xs;

  @include media-breakpoint-up(sm) {
    font-size: $display4-size-sm;
  }

  @include media-breakpoint-up(md) {
    font-size: $display4-size;
  }
}


// Force unitalicized text
cite {
  font-style: normal;
}
