a,
button {
  // Add transitions on link hover.
  @if ($enable-transitions) {
    transition: $link-transition;
  }

  // Modify default focus outlines globally.
  &:not([disabled]) {
    &:focus {
      outline: $focus-outline;
    }

    &:hover,
    &:active {
      outline: none;
    }
  }
}

// Force unitalicized text
cite {
  font-style: normal;
}

// Opinionated font family reset on elements affected by Bootstrap's resets.
button,
input,
optgroup,
select,
textarea {
  font-family: $font-family-base;
}
