//
// Basic Bootstrap table
//

.table {
  &:not(.table-responsive) {
    thead th {
      border-top: 0 solid transparent;
    }
  }
}


//
// Zebra-striped table
//

.table-striped {
  th,
  td {
    border-top: 0 solid transparent;
  }

  thead th {
    border-bottom: 0 solid transparent;
  }
}


//
// Inverse styles
//

.table-inverse {
  // Unset Bootstrap styling for compatibility with .table-responsive
  background-color: transparent;

  > * {
    background-color: $table-inverse-bg;
  }

  th,
  td,
  thead th {
    border-color: $table-inverse-border-color;
  }

  caption {
    color: $brand-default;
  }

  // Bordered version
  &.table-bordered {
    border-color: $table-inverse-border-color;

    th,
    td {
      border-color: $table-inverse-border-color;
    }
  }

  // Zebra-striped table
  &.table-striped {
    tbody tr:nth-of-type(odd) {
      background-color: $table-inverse-bg-accent;
    }
  }

  // Placed here since it has to come after the potential zebra striping
  &.table-hover {
    tbody tr {
      @include hover {
        background-color: $table-inverse-bg-hover;
      }
    }
  }
}
